<ng-template #modalPagamento>
  <cv-modal tituloModal="Registrar pagamento">
    <cv-registro-pagamento [cliente]="cliente"></cv-registro-pagamento>
  </cv-modal>
</ng-template>

<ng-template #modalExtrato>
  <cv-modal tituloModal="Extrato do cliente">
    <cv-extrato-cliente [cliente]="cliente"></cv-extrato-cliente>
  </cv-modal>
</ng-template>

<ng-template style="margin-top: 50%;" #modalDesativarCliente>
  <cv-modal tituloModal="Desativar cliente">
    <cv-desativar-cliente [cliente]="cliente"></cv-desativar-cliente>
  </cv-modal>
</ng-template>

<div class="row">
  <div class="col-12 mt-5">
    <a [routerLink]="['/clientes']">
      <button class="btn btn-info" style="float: left;">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Voltar
      </button>
    </a>
    <h1 class="text-center">Detalhes do Cliente</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <hr>
    <div class="row">
      <div class="col-5 infos-cliente">
        <div>
          <h4 class="nome-cliente mr-2">{{cliente.nome}}</h4>
          <div class="status-cliente mb-2" [ngSwitch]="cliente.ativo">
            <small *ngSwitchCase="true">ativo <i class="fa fa-check-circle" style="color: green;"
                aria-hidden="true"></i>
            </small>
            <small *ngSwitchCase="false">desativado <i class="fa fa-times-circle-o" style="color: red;"
                aria-hidden="true"></i></small>
          </div>
        </div>
        <div class="mb-2">
          <small>Cadastrado no dia {{cliente.dataCadastro | date}}</small>
        </div>

        <a [routerLink]="['/clientes', 'editar', cliente.id]">
          <button class="mb-3 btn btn-secondary btn-edit btn-lg btn-block">
            <span class="span-btn">editar cliente</span>
          </button>
        </a>

        <button *ngIf="cliente.ativo else ativarCliente" class="mb-3 btn btn-danger btn-sm"
          (click)="openModal(modalDesativarCliente)"
          [disabled]="cliente.saldoDevedor > 0">
          <span class="span-btn">desativar cliente</span>
        </button>

        <ng-template #ativarCliente>
          <button class="mb-3 btn btn-success btn-sm" [routerLink]="['/clientes', 'editar', cliente.id]"
            [disabled]="cliente.saldoDevedor > 0">
            <span class="span-btn">ativar cliente</span>
          </button>
        </ng-template>

        <p style="font-weight: 500;" [innerHtml]="enderecoFormatado"></p>
        <hr>
        <div id="campo-cpf">
          <span class="titulo-info">CPF: </span>
          <span>{{cliente.cpf | mask: '000.000.000-00'}}</span>
        </div>
        <div class="campo-telefone">
          <span class="titulo-info">Telefone: </span>
          <span>{{cliente.telefone | mask: '(00) 0000-0000'}}</span>
        </div>
        <div class="campo-celular">
          <span class="titulo-info">Celular: </span>
          <span>{{cliente.celular | mask: '(00) 00000-0000'}}</span>
        </div>
      </div>
      <div class="col-7">
        <div class="saldo-devedor text-center">
          <h2>Saldo devedor:</h2>
          <h3 [ngClass]="cliente.saldoDevedor > 0 ? 'valor-divida-positiva' : 'valor-divida-zerada'">
            R${{cliente.saldoDevedor | number}}
          </h3>
          <button *ngIf="cliente.ativo" class="btn btn-info mt-3" (click)="openModal(modalPagamento)"
            style="float: left;" type="button">
            Registrar pagamento</button>
          <button *ngIf="cliente.saldoDevedor > 0" class="btn btn-secondary mt-3 btn-saldo-devedor" type="button">
            Cancelar dívida</button>
          <button *ngIf="cliente.saldoDevedor > 0" class="btn btn-secondary mt-3 btn-saldo-devedor"
            (click)="openModal(modalExtrato)" type="button">
            Ver extrato</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <h3 class="text-center">Compras do cliente</h3>

    <table class="table table-hover" *ngIf="cliente.clienteCompras.length else clienteSemCompras">
      <thead class="thead-dark">
        <th>TOTAL</th>
        <th>Saldo devedor antes</th>
        <th>Saldo devedor depois</th>
        <th>Data da compra</th>
        <th>Detalhes</th>
      </thead>
      <tbody>
        <tr *ngFor="let clienteCompra of cliente.clienteCompras">
          <td>R${{clienteCompra.valorTotal | number}}</td>
          <td>R${{clienteCompra.saldoDevedorAntes | number}}</td>
          <td>R${{clienteCompra.saldoDevedorDepois | number}}</td>
          <td>{{clienteCompra.dataCadastro | date}}</td>
          <td><i class="fa fa-search-plus" cvChangeColorOnHover aria-hidden="true"></i></td>
        </tr>
      </tbody>
    </table>

    <ng-template #clienteSemCompras>
      <div class="container-sem-transacoes mt-3">
        <h4 class="text-center">Este cliente ainda não efetuou uma compra</h4>
        <p class="transacao-text text-center mt-3">Clique no botão abaixo para realizar
          registrar a primeira transação:</p>
        <div class="button-group row justify-content-center mt-3">
          <div class="col-4">
            <button class="btn btn-info btn-transacoes" [routerLink]="['/vendas', 'registrar']" type="button">Registrar
              compra</button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>