.conteudo {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.conteudo-bloqueado {
    font-size: 28px;
    color: #8c8c8c;
    padding: 35px;
}


.lecture-content .lecture-contents-locked .already-enrolled {
    font-size: 14px;
    margin-top: 20px;
}

.btn-md, .btn-md:active, .btn-md:focus {
    display: inline-block;
    border-radius: 50px !important;
    font-size: 15px !important;
    letter-spacing: .49px;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.btn-primary, .btn-primary:active, .btn-primary:focus {
    background: #336799 !important;
    border: 1px solid #336799 !important;
    font-weight: 600 !important;
    outline: none !important;
    color: #fff;
    border-radius: 20px;
}

.sub-texto {
    font-size: 14px;
    margin-top: 20px;
    color: #8c8c8c;
}