<div class="conteudo">
    <div style="text-align: center;">
        <div class="conteudo-bloqueado">
            <i class="fa fa-lock"></i>
            Conteúdo de {{ nomeConteudo }} bloqueado
            <br><br>
            <a class="btn btn-md btn-primary" id="lecture-locked" title="Dominando os Testes de Software"
                [routerLink]="['/login']">Efetue o login para desbloquear</a>
            <br>
            <div class="sub-texto">Ou entre em contato com nosso suporte.</div>
        </div>
    </div>
</div>