<div class="row">
  <div class="col-12">
    <h1 class="mt-5 titulo">Formulário de Cadastro</h1>
    <h3 class="mt-2 titulo">Cliente</h3>
  </div>
</div>

<div class="row justify-content-center">

  <div class="col-7">

    <div class="alert alert-danger" *ngIf="errors.length > 0">
        <button type="button" class="close" (click)="fecharErros()" aria-label="fechar">
            <span aria-hidden="true">&times;</span>
          </button>
      <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
     
      <ul>
        <li *ngFor="let error of errors">{{ error }}</li>
      </ul>
    </div>

    <hr>
    <div class="form-cadastro">
      <form [formGroup]="clienteForm" (submit)="adicionar()">

        <div class="form-group mt-2">
          <label for="nomeCliente">Nome</label>
          <input formControlName="nome" type="text" class="form-control" id="nomeCliente"
            placeholder="Insira o nome do cliente">

          <ap-vmessage *ngIf="displayMessage.nome" text="{{displayMessage.nome}}">
          </ap-vmessage>
        </div>

        <div class="form-group mt-3">
          <label for="cpfCliente">CPF</label>
          <input formControlName="cpf" type='text' class="form-control" mask='000.000.000-00' id="cpfCliente"
            placeholder="Insira o CPF do cliente">

          <ap-vmessage *ngIf="displayMessage.cpf" text="{{displayMessage.cpf}}">
          </ap-vmessage>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="telefone">Telefone</label>
            <input formControlName="telefone" type='text' class="form-control" mask='(00) 0000-0000' id="telefone"
              placeholder="Insira o telefone do cliente">

            <ap-vmessage *ngIf="displayMessage.telefone" text="{{displayMessage.telefone}}">
            </ap-vmessage>
          </div>
          <div class="form-group col-md-6">
            <label for="celular">Celular</label>
            <input formControlName="celular" type='text' class="form-control" mask='(00) 00000-0000' id="celular"
              placeholder="Insira o celular do cliente">

            <ap-vmessage *ngIf="displayMessage.celular" text="{{displayMessage.celular}}">
            </ap-vmessage>
          </div>
        </div>

        <div class="form-group mt-1">
          <label for="email">Email</label>
          <input formControlName="email" type='email' class="form-control" id="email"
            placeholder="Insira o email do cliente">

          <ap-vmessage *ngIf="displayMessage.email" text="{{displayMessage.email}}">
          </ap-vmessage>
        </div>

        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="cep">CEP</label>
            <input formControlName="cep" type='text' class="form-control" mask='00000-000' id="cep"
              placeholder="Insira o CEP do cliente" (focusout)="buscarDadosCEP($event.target.value)">

            <ap-vmessage *ngIf="displayMessage.cep" text="{{displayMessage.cep}}">
            </ap-vmessage>
          </div>

          <div class="form-group col-md-5">
            <label for="cidade">Cidade</label>
            <input formControlName="cidade" type='text' class="form-control" id="cidade">

            <ap-vmessage *ngIf="displayMessage.cidade" text="{{displayMessage.cidade}}">
            </ap-vmessage>
          </div>

          <div class="form-group col-md-2">
            <label for="estado">Estado</label>
            <input formControlName="estado" type='text' class="form-control" id="estado">

            <ap-vmessage *ngIf="displayMessage.estado" text="{{displayMessage.estado}}">
            </ap-vmessage>
          </div>
        </div>

        <div class="form-row">

          <div class="form-group col-md-9 mt-1">
            <label for="logradouro">Logradouro</label>
            <input formControlName="logradouro" type='text' class="form-control" id="logradouro">

            <ap-vmessage *ngIf="displayMessage.logradouro" text="{{displayMessage.logradouro}}">
            </ap-vmessage>
          </div>

          <div class="form-group col-md-3 mt-1">
            <label for="numero">Número</label>
            <input formControlName="numero" type='text' class="form-control" id="numero">

            <ap-vmessage *ngIf="displayMessage.numero" text="{{displayMessage.numero}}">
            </ap-vmessage>
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="complemento">Complemento</label>
            <input formControlName="complemento" type="text" class="form-control" id="complemento">
          </div>

          <div class="form-group col-md-6">
            <label for="bairro">Bairro</label>
            <input formControlName="bairro" type="text" class="form-control" id="bairro">
          </div>
        </div>

        <div class="button-group row">
          <div class="col-6">
            <button class="btn btn-primary" [routerLink]="['/clientes']" type="button">Voltar</button>
          </div>
          <div class="col-6">
            <button class="btn btn-success" type="submit" [disabled]="clienteForm.invalid">Adicionar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>