<div class="row">
  <div class="col-12">
    <h1 class="mt-5 titulo">Formulário de Cadastro</h1>
  </div>
</div>

<div class="row">

  <div class="col-3"></div>

  <div class="col-6 mb-5">
    <hr>
    <div class="form-cadastro">
      <form [formGroup]="clienteForm" (submit)="adicionar()">

        <div class="form-group mt-2">
          <label for="nomeCliente">Nome</label>
          <input formControlName="nome" type="text" class="form-control" id="nomeCliente"
            placeholder="Insira o nome do cliente">

          <ap-vmessage *ngIf="displayMessage.nome" text="{{displayMessage.nome}}">
          </ap-vmessage>
        </div>

        <div class="form-group mt-3">
          <label for="cpfCliente">CPF</label>
          <input formControlName="cpf" type='text' class="form-control" mask='000.000.000-00' id="cpfCliente"
            placeholder="Insira o CPF do cliente">

          <ap-vmessage *ngIf="displayMessage.cpf" text="{{displayMessage.cpf}}">
          </ap-vmessage>
        </div>

        <div class="form-group mt-3">
          <label for="telefone">Telefone</label>
          <input formControlName="telefone" type='text' class="form-control" mask='(00) 0000-0000' id="telefone"
            placeholder="Insira o telefone do cliente">

          <ap-vmessage *ngIf="displayMessage.telefone" text="{{displayMessage.telefone}}">
          </ap-vmessage>
        </div>

        <div class="form-group mt-3">
          <label for="celular">Celular</label>
          <input formControlName="celular" type='text' class="form-control" mask='(00) 00000-0000' id="celular"
            placeholder="Insira o celular do cliente">

          <ap-vmessage *ngIf="displayMessage.celular" text="{{displayMessage.celular}}">
          </ap-vmessage>
        </div>

        <div class="form-group mt-3">
          <label for="email">Email</label>
          <input formControlName="email" type='text' class="form-control" id="email"
            placeholder="Insira o email do cliente">

          <ap-vmessage *ngIf="displayMessage.email" text="{{displayMessage.email}}">
          </ap-vmessage>
        </div>

        <div class="form-group mt-3">
          <label for="email">CEP</label>
          <input formControlName="cep" type='text' class="form-control" id="cep"
            placeholder="Insira o CEP do cliente" (focusout)="buscarDadosCEP($event.target.value)">

          <ap-vmessage *ngIf="displayMessage.cep" text="{{displayMessage.cep}}">
          </ap-vmessage>
        </div>

        <div class="button-group row">
          <div class="col-6">
            <button class="btn btn-primary" [routerLink]="['/clientes']" type="button">Voltar</button>
          </div>
          <div class="col-6">
            <button class="btn btn-success" type="submit" [disabled]="clienteForm.invalid">Adicionar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>