<p>
  itens-compra works!
</p>

<div class="itens-compra">

  <div class="tabela-itens" style="height: 300px;">
    <table class="table table-hover">
      <thead>
        <tr>
          <!-- <th id="th-center" scope="col"></th> -->
          <th scope="col">Nome</th>
          <!-- <th scope="col">Preço</th> -->
          <th scope="col">Peso(em kg)</th>
        </tr>
      </thead>
      <tbody>

        <tr (click)="selecionarItem($event.target)"
          *ngFor="let produto of produtos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">

          <!-- <td id="td-center">
          <i class="fa fa-pencil" aria-hidden="true"></i>

          <input type="checkbox" aria-label="Radio button for following text input">
    
        </td> -->
          <td style="display: none;">{{produto.id}}</td>
          <td>{{produto.nome}}</td>
          <td>R${{produto.peso}}</td>
        </tr>

      </tbody>
    </table>
  </div>
  <ngb-pagination [(page)]="page" [pageSize]="5" [collectionSize]="produtos.length"></ngb-pagination>

</div>

<form [formGroup]="itensForm" (submit)="registrar()">

  <div class="form-group mt-2">
    <label for="produto">Produto</label>
    <input #nomeProduto formControlName="produto" disabled type="text" class="form-control" id="produto">

    <ap-vmessage *ngIf="displayMessage.produto" text="{{displayMessage.produto}}">
    </ap-vmessage>
  </div>

  <div class="form-row">
    <div class="col-md-6 mt-2">
      <label for="precoUnitario">Preço unit.</label>
      <input #precoUnitario formControlName="precoUnitario" [disabled]="!habilitadoPrecoUnitario" type="text" class="form-control" id="precoUnitario">

      <ap-vmessage #tioR *ngIf="displayMessage.precoUnitario" text="{{displayMessage.precoUnitario}}">
    </ap-vmessage>
    </div>

    <div class="col-md-6 mt-2">
      <label for="quantidade">Quantidade</label>
      <input #quantidade formControlName="quantidade" [disabled]="!habilitadoQuantidade" type="text" class="form-control" id="quantidade">

      <ap-vmessage *ngIf="displayMessage.quantidade" text="{{displayMessage.quantidade}}">
    </ap-vmessage>
    </div>
  </div>
</form>