<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <cv-itens-compra (enviarProduto)="obterProdutoParaCarrinho($event)"></cv-itens-compra>

  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="getDismissReason($event)" (click)="obterProdutoParaCarrinho()">Save</button>
  </div> -->
</ng-template>

<hr>

<pre>{{closeResult}}</pre>

<div class="row">
  <div class="col-12">
    <h1 class="mt-5 titulo">Registro de Compra</h1>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-6">
    <hr>
    <div class="form-cadastro">

      <ng-template #carrinhoVazio>
        <div class="row carrinho-vazio ml-0 mt-1">
          <div class="col-12">
            <span style="float: left;"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></span>
            <h5 class="text-center mt-1">O Seu carrinho está vázio</h5>
            <p class="text-center">Clique em "Procurar" para adicionar produtos</p>
          </div>
        </div>
      </ng-template>

      <form [formGroup]="compraForm" (submit)="registrar()">

        <div class="form-group mt-2">
          <label for="fornecedor">Fornecedor</label>
          <input formControlName="fornecedor" type="text" class="form-control" id="fornecedor"
            placeholder="Insira o nome do fornecedor">

          <ap-vmessage *ngIf="displayMessage.fornecedor" text="{{displayMessage.fornecedor}}">
          </ap-vmessage>
        </div>

        <div class="form-group">
          <label for="descricao">Produtos</label>
          <button class="btn btn-primary mb-1" (click)="open(content)" style="float: right;"
            type="button">Procurar</button>


          <table class="table table-bordered" *ngIf="compra.produtosCompra.length != 0 else carrinhoVazio">
            <thead>
              <th>Nome</th>
              <th>Preço unit.</th>
              <th>Qtd.</th>
              <th>Preço final</th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let produto of compra.produtosCompra">
                <td style="display: none;">{{produto.id}}</td>
                <td>{{produto.nome}}</td>
                <td>{{produto.valorUnitario}}</td>
                <td>{{produto.quantidade}}</td>
                <td>{{produto.valorFinal}}</td>
                <td class="text-center">
                  <i (click)="removerProdutoCarrinho($event.target)" (mouseenter)="mouseEnter($event.target)"
                    (mouseleave)="mouseLeave($event.target)" class="fa fa-window-close" aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- <ap-vmessage *ngIf="displayMessage.descricao" text="{{displayMessage.descricao}}">
          </ap-vmessage> -->
        </div>

        <div class="form-group row justify-content-end mt-4">
          <label for="total" class="col-3 mt-2"><b>TOTAL PAGO:</b></label>
          <div class="col-6">
            <input formControlName="total" type="text" class="form-control" id="total">
          </div>
        </div>


        <div class="button-group row mt-4">
          <div class="col-6 text-center">
            <button class="btn btn-primary btn-100-width" [routerLink]="['/produtos']" type="button">Voltar</button>
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-success btn-100-width" type="submit"
              [disabled]="compraForm.invalid || compra.produtosCompra.length == 0">Adicionar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>