.titulo {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #384158;
    text-align: center;
}

.form-cadastro {
    padding: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.carrinho-vazio {
    width: 100%;
    padding: 10px;
    border: 1px solid #dee2e6;
}

.btn-100-width {
    width: 100%;
}