<ng-template #modalConfirmaPagamento>
  <div class="modal-confirma-pagamento">
    <cv-modal tituloModal="Confirmar pagamento">
      <cv-confirma-pagamento [dadosPagamento]="pagamento" [cliente]="cliente" [modalAtiva]="modalConfirmaPagamento"
        [result]="result">
      </cv-confirma-pagamento>
    </cv-modal>

    <div class="container">
      <div class="button-group row mt-3 mb-3">
        <div class="col-6">
          <button class="btn btn-transacoes btn-primary" (click)="fecharModalConfirmacaoPagamento()"
            type="button">Voltar</button>
        </div>
        <div class="col-6">
          <button class="btn btn-transacoes btn-success" (click)="confirmarPagamento()" type="button">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="row">
  <div class="col-12">
    <!-- <h3>Registro de Pagamento</h3> -->
    <form [formGroup]="pagamentoForm">

      <div class="alert alert-danger" *ngIf="errors.length > 0">
        <button type="button" class="close" (click)="fecharErros()" aria-label="fechar">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>

        <ul>
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
      </div>

      <div class="form-row">
        <div class="form-group col-6">
          <label for="dataPagamento">Data do pagamento</label>
          <div class="input-group">
            <input formControlName="dataPagamento" class="form-control" placeholder="dd-mm-yyyy" name="dp" ngbDatepicker
              #d="ngbDatepicker" id="dataPagamento">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </button>
            </div>
          </div>

          <ap-vmessage *ngIf="displayMessage.dataPagamento" text="{{displayMessage.dataPagamento}}">
          </ap-vmessage>
        </div>
        <div class="form-group col-6">
          <label for="dataPagamento">Método do pagamento</label>
          <select formControlName="metodosPagamento" class="form-control" id="metodoPagamento">
            <option selected value="Selecione...">Selecione...</option>
            <option *ngFor="let metodoPagamento of metodosPagamento" [value]="metodoPagamento.id">
              {{metodoPagamento.nome}}
            </option>
          </select>
        </div>
        <div class="form-group col-6">
          <label for="valorTotal">Total pago</label>
          <input formControlName="valorTotal" currencyMask type="text" class="form-control" id="valorTotal"
            placeholder="R$ 0,00" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">

          <ap-vmessage *ngIf="displayMessage.valorTotal" text="{{displayMessage.valorTotal}}">
          </ap-vmessage>
        </div>
      </div>
      <div class="button-group row">
        <div class="col-6">
          <button class="btn btn-transacoes btn-primary" [routerLink]="['/clientes']" type="button">Cancelar</button>
        </div>
        <div class="col-6">
          <button class="btn btn-transacoes btn-success" type="button" [disabled]="pagamentoForm.invalid"
            (click)="gerarDadosPagamento(modalConfirmaPagamento)">Avançar</button>
        </div>
      </div>
    </form>
  </div>
</div>