<!-- <h1>HOME PAGE DA APLICAÇÃO!!!!!!!</h1> -->

<div class="home">
    <div class="home_slider_background"></div>
    <div class="home_slider_content">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h1 class="home_slider_title">Caderneta de Vendas</h1>
                    <h2 class="home_slider_subtitle">Gerencie suas vendas com tranquilidade</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-6">
            <div class="feature text-center trans_400">
            <h4 class="feature_title">Registre um nova venda</h4>
            <p class="feature_title">É só clicar no botão abaixo</p>
                <button class="btn btn-success" type="submit">Registrar Venda</button>
            </div>
        </div>
    </div>
</div>