<div class="row row-titulo-produtos">
  <div class="col-md-12">
    <h1 id="titulo-produtos">
      Produtos
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <button class="btn btn-primary" type="button" [routerLink]="['/produtos/adicionar']" id="btn-adicionar">ADICIONAR</button>
  </div>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
      <th scope="col">Qtd. Disponivel</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Cobertor</td>
      <td>R$60,00</td>
      <td>16</td>
      <td>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Lençol</td>
      <td>R$30,00</td>
      <td>6</td>
      <td>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Fronha</td>
      <td>R$20,00</td>
      <td>32</td>
      <td>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </td>
    </tr>
  </tbody>
</table>