<div class="super-container mt-3">
  <div class="row row-titulo-produtos">
    <div class="col-md-12">
      <h1 class="titulo">Produtos</h1>
    </div>
  </div>

  <ng-template #erroListaProduto>
    <div class="row justify-content-center mt-5">
      <cv-empty-message titulo="Você ainda não possui produtos cadastrados"
        corpo="Clique no botão adicionar para cadastrar seu primeiro produto">
        <button class="btn btn-success text-center" [routerLink]="['/produtos/adicionar']"
          type="button">ADICIONAR</button>
      </cv-empty-message>
    </div>
  </ng-template>

  <div *ngIf="produtos.length != 0; else erroListaProduto">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary" type="button" [routerLink]="['/produtos/adicionar']"
          id="btn-adicionar">ADICIONAR</button>
      </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Preço</th>
          <th id="th-center" scope="col">Peso(em kg)</th>
          <th id="th-center" scope="col">Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos">
          <td>{{produto.nome}}</td>
          <td>R${{produto.valor}}</td>
          <td id="td-center">{{produto.peso}}kg</td>
          <td id="td-center">
            <i class="fa fa-pencil" cvChangeColorOnHover aria-hidden="true"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>