<footer class="footer page-footer">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="footer_title">
          <!-- <p></p> -->
          Caderneta de Vendas
        </div>
        <!-- <div class="footer_background"></div> -->
        <div class="infos">
          <!-- <div class="footer_background"></div> -->
          <p>Universidade de Mogi das Cruzes - Campus Villa-Lobos <br> 
            Sistemas de Informação - 7A</p>
        </div>
      </div>

    </div>
  </div>
</footer>