<div class="row">
    <div class="col-12">
        <h1 class="mt-5">Detalhes do Produto</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr>
        <div class="row">
            <div class="col-4 infos-produto">
                <div class="">
                    <div class="card">
                        <img class="img-thumbnail rounded foto-produto" id="foto-produto" [src]="fotoURL"
                            alt="foto produto" />
                        <div class="card-body">
                            <div class="custom-file">
                                <input class="custom-file-input" #fileInput id="validatedCustomFile" type="file"
                                    accept="image/*" (change)="uploadFoto(fileInput.files)">
                                <label #nomeImagem class="custom-file-label" for="validatedCustomFile">Editar
                                    imagem</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <h3 class="text-center mt-1">{{produto.nome}}</h3>

                    <button class="mb-3 btn btn-secondary btn-edit btn-lg btn-block">
                        <span class="span-btn">editar produto</span>
                    </button>

                    <p>Quantidade disponível: {{produto.quantidade}}</p>

                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 data-toggle="collapse" data-target="#collapseDescricao" aria-expanded="false"
                                    aria-controls="collapseDescricao">
                                    Descrição
                                </h5>
                            </div>

                            <div id="collapseDescricao" class="collapse hide" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    {{produto.descricao}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <h3>Kardex</h3>
                <table class="table table-hover">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Operação</th>
                            <th scope="col">Quantidade antes</th>
                            <th scope="col">Quantidade depois</th>
                            <!-- <th scope="col">Disponível</th> -->
                            <th scope="col">Data do processo</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let dataKardex of produto.kardex">
                            <td>Venda</td>
                            <td>{{dataKardex.quantidadeAntes}}</td>
                            <td id="td-center">{{dataKardex.quantidadeDepois}}</td>
                            <td id="td-center">{{dataKardex.dataCadastro | date}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- <ngb-pagination [(page)]="page" [pageSize]="5" [collectionSize]="produtos.length"></ngb-pagination> -->
            </div>
        </div>
    </div>