<div class="row">
    <div class="col-12">
        <h1 class="mt-5">Detalhes do Produto</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <hr>
        <div class="row">
            <div class="col-4 infos-produto">
                <div class="">
                    <div class="card">
                        <img class="img-thumbnail rounded foto-produto" id="foto-produto" [src]="fotoURL"
                            alt="foto produto" />
                        <div class="card-body">
                            <div class="custom-file">
                                <input class="custom-file-input" #fileInput id="validatedCustomFile" type="file"
                                    accept="image/*" (change)="uploadFoto(fileInput.files)">
                                <label #nomeImagem class="custom-file-label" for="validatedCustomFile">Editar
                                    imagem</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <h3 class="text-center mt-1">{{produto.nome}}</h3>

                    <div class="text-center mb-3">
                        <small>Cadastrado no dia {{produto.dataCadastro | date}}</small>
                    </div>
                    <a [routerLink]="['/produtos', 'editar', produto.id]">
                        <button class="mb-3 btn btn-secondary btn-edit btn-lg btn-block">

                            <span class="span-btn">editar produto</span>
                        </button>
                    </a>

                    <div class="saldo-estoque mb-3">
                        <span>Saldo disponível:</span>
                        <span class="ml-1"
                            [ngClass]="produto.quantidade > 0 ? 'estoque-cheio' : 'estoque-vazio'">{{produto.quantidade}}</span>
                    </div>


                    <div id="accordion">
                        <div class="card card-descricao">
                            <div class="card-header card-header-descricao" id="headingOne">
                                <p id="descricao">
                                    Descrição
                                </p>
                                <div (click)="alterarDireacaoIconeSeta()">
                                    <i class="fa fa-2x angle fa-angle-double-down" style="float: right;"
                                        *ngIf="activatedAngleDown else AngleUp" aria-hidden="true"
                                        data-toggle="collapse" data-target="#collapseDescricao" aria-expanded="false"
                                        aria-controls="collapseDescricao">
                                    </i>
                                    <ng-template #AngleUp>
                                        <i class="fa fa-2x angle fa-angle-double-up" style="float: right;"
                                            aria-hidden="true" data-toggle="collapse" data-target="#collapseDescricao"
                                            aria-expanded="false" aria-controls="collapseDescricao">
                                        </i>
                                    </ng-template>
                                </div>

                            </div>

                            <div id="collapseDescricao" class="collapse hide" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    {{produto.descricao}}
                                </div>
                            </div>
                        </div>
                        <div class="medidas-produto text-center mt-3">
                            <b>
                                <p>Medidas:</p>
                            </b>
                            <p>Altura: {{produto.altura}} metro(s) | Largura: {{produto.largura}} metro(s)</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <h3>Kardex</h3>
                <table class="table table-hover" *ngIf="produto.kardex.length else produtoSemTransacoes">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Operação</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Saldo anterior</th>
                            <th scope="col">Saldo atual</th>
                            <th scope="col">Data processamento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dataKardex of produto.kardex">
                            <td *ngIf="dataKardex.quantidadeAntes > dataKardex.quantidadeDepois else operacaoCompra">
                                Venda
                            </td>
                            <ng-template #operacaoCompra>
                                <td>Compra</td>
                            </ng-template>
                            <td>{{dataKardex.quantidade}}</td>
                            <td>{{dataKardex.quantidadeAntes}}</td>
                            <td id="td-center">{{dataKardex.quantidadeDepois}}</td>
                            <td scope="col-2" id="td-center">{{dataKardex.dataCadastro | date}}
                                <i class="fa fa-arrow-down ml-3" style="color: red" aria-hidden="true"
                                    *ngIf="dataKardex.quantidadeAntes > dataKardex.quantidadeDepois else iconeCompra">
                                </i>
                                <ng-template #iconeCompra>
                                    <i class="fa fa-arrow-up ml-3" style="color: green" aria-hidden="true">
                                    </i>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <ng-template #produtoSemTransacoes>
                    <div class="container-sem-transacoes mt-3">
                        <h4 class="">Esse produto ainda não possui transações de estoque</h4>
                        <p class="transacao-text text-center mt-3">Selecione uma das opções abaixo para realizar a
                            primeira transação:</p>
                        <div class="button-group row mt-3">
                            <div class="col-6">
                                <button class="btn btn-info btn-transacoes" [routerLink]="['/compras', 'registrar']"
                                    type="button">Registrar compra</button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-info btn-transacoes" [routerLink]="['/vendas', 'registrar']"
                                    type="submit">Registrar venda</button>
                            </div>
                        </div>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>